.form-container{
  background-color: #4D77FF;
  padding: 80px 250px 10px 250px;
  color: white;
  font-weight: 600;
}
.form-container h3{
  text-align: center;
  color: black;
  font-weight: 600;
}
.form-container .mb-3{
  margin: 40px 0;
}
.medicineform{
  display: flex;
  flex-direction: row;
}
.contleft, .contright{
  width: 50%;
}
.contleft{
  border-right:1px solid blue ;
}
.contright{
  padding-left: 20px;
}

.form-control{
  width: 80%;
}
.filefiled{
  margin-bottom: 30px;
}

.form-container button{
  display: block;
  margin: 50px auto;
  background-color: transparent;
  border: 2px solid white;
}
.form-container button:hover{
  background-color: transparent;
  color: black;
  border: 2px solid black;
}
.form-container button:active{
  background-color: transparent;
  color: blue;
  border: 2px solid blue;
}
@media screen and (max-width: 1400px) 
{
  .form-container{
    padding: 60px 30px 5px 30px;
  }
}